.titulo {
    margin: 100px;
    color: blanchedalmond;
    padding: 10px;
    font-family: Arial;
}

.parrafo {
    color:blanchedalmond;
    margin: auto;
    font-family: sans-serif;
}

.cont {
    border: solid greenyellow;
    margin: auto;
    background-color: blue;
    margin-block: 100px;
}